APP_NAME=CyBreach Wallet Service
APP_VERSION=1.0.0

POSTGRES_USER=wallet_user
POSTGRES_PASSWORD=wallet_password
POSTGRES_DB=wallet_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://wallet_user:wallet_password@localhost:5432/wallet_db

KAFKA_BROKER=redpanda:9092
